* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0, 95%);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62.5%;
}

h2 {
  text-transform: capitalize;
  color: rgb(77, 76, 76);
  text-align: center;
  margin-top: 100px;
  font-size: 2rem;
}

#writeMessage {
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 50px;
}

.form_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid gainsboro;
  color: black;
  background-color: rgb(237, 237, 237);
  padding: 10px 50px;
  border-radius: 8px;
  transition: all 0.2s linear;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.btn:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

textarea[name="typespeed"] {
  border: 1px solid gainsboro;
  resize: none;
  padding: 10px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
